### Series

In [2]:
import pandas as pd

series_test = pd.Series([100,200,300])
series_test

0    100
1    200
2    300
dtype: int64

In [3]:
series_test2 = pd.Series({1999: 48,
                         2000: 65,
                         2001: 89})
series_test2

1999    48
2000    65
2001    89
dtype: int64

In [4]:
series_test2.dtypes

dtype('int64')

In [5]:
series_test.dtype

dtype('int64')

In [12]:
series_test2 = pd.Series({1999: 48,
                         2000: 65,
                         2001: 89}, name=['amount'])
series_test2

TypeError: Series.name must be a hashable type

In [11]:
pd.Series?

### DataFrames

In [13]:
frame_test = pd.DataFrame({1999:[74,38,39],
                          2000:[34,32,32],
                          2001:[239,39,23]})

frame_test

   1999  2000  2001
0    74    34   239
1    38    32    39
2    39    32    23

In [15]:
frame_test2 = pd.DataFrame([[74,38,39],
                          [34,32,32],
                          [239,39,23]], columns=[1999,2000,2001])
frame_test2

   1999  2000  2001
0    74    38    39
1    34    32    32
2   239    39    23